@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,900&display=swap');

*{
     margin: 0;
     padding:0;
     box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    
}

/* header section start */
#header-bar{
    background-color: #FFF4E7;
    width:1260px;

    margin: auto;
    padding:10px 15px;
}
.header-fullbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-logo{
    color:#131313;

}
.header-fullbar h2 span{
    color:#FF900E;
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
    align-items: center;
    column-gap: 10px;
    
    
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    padding:12px 24px;
    text-decoration: none;
    font-size: 18px;
    color:#131313;
    font-weight: 500;
}
.primary-btn{
    background-color: #FF900E;
    color:#FFF4E7;
    padding:12px 30px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
/* nav section end */

.title-full-section{
    
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header-title{
    width:870px;
    margin: auto;
}
.header-head-title{
    margin-bottom: 18px;
    line-height: 50px;
    font-size: 50px;
    text-align: center;
}
.header-title p{
    text-align: center;
    margin-bottom: 15px;
}
.header-title button{
    margin-left: 350px;
}
/* header title area end */

.header-banner{
    width: 1260px;
    margin: auto;
}
.header-banner img{
    width: 98%;
}
/* header section end */

/* mainsection start */
#Our_Feature{
    width:1170px;
    margin:auto;
    display: flex;
    column-gap: 30px;
    padding:40px 0px;
    align-items: center;
    
}
.feature-img{
    width:50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.feature-img img{
    width:100%;
}
.feature-body{
    width:50%;
}
.feature-head-title{
    padding:20px 0px;
    font-size: 40px;
    color:silver;
    font-weight: 500;
}
.black{
    color:#131313;
    font-weight: 700;
}
.yellow{
    color:#FF900E;
    font-weight: 700;
}
.feature-detail{
    color:#131313;
    line-height: 20px;
    padding: 15px 0px;
    font-size: 17px;
}

/* sectionOne end  */
#section_two{
    width:1240px;
    margin: auto;
}
.section-two-fullbar{
    width:98%;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    

}
.section-two-titlebar{
    width:50%;
}
.section-two_img{
    width:50%;
}
.section-two_img img{
    width: 100%;
}
.two-maintitle{
    height: 30%;
    padding:30px 0px;
}
.two-maintitle h2{
    font-size: 40px;
    color: #131313;
    border-left: 3px solid #FF900E;
    padding-left:10px;
}
.two-maintitle p{
    padding: 10px 0px;
    line-height: 23px;
}
.two-subtitle{
    padding:20px;

}
.title_sub_two{
    height: 147px;
    padding-right: 25px;
}
.title_sub_two h2{
    font-size: 29px;
    color: #131313;
    padding: 8px 0px;
}
.title_sub_two p{
    font-size: 15px;
    width:500px;
    
}
.secondery-btn{
    width:180px;
    height: 120px;
    padding:5px 20px;
    background-color: #FF900E;
    color: #FFF4E7;
    border: none;
    font-size: 28px;
    font-weight: 700;
    border-radius: 8px;
     position: absolute;
   
    margin: 770px auto 0px auto;
    
}
/* sectiontwo end */

#my-success{
    width:1260px;
    height: auto;
    margin: auto;
    padding:30px 20px 10px 20px;
}
.card-bar{
    display: flex;
    column-gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    margin:60px 0px;
    
}
.success-head{
    margin: 40px 0px;
}
.success-head h2{
    color:#131313;
    font-size: 42px;
    padding:10px 0px;
}
.card-details{
    width:200px;
    text-align: center ;
    padding:30px 0px 1px 0px;
    border: 1px solid rgba(165, 103, 22, 0.419);
    height: 200px;
    border-radius: 8px;
}
.card-details:hover{
   background-color: #ff8f0e5d;
   border:none;
   box-shadow: 2px 2px 2px silver;
}
.card-details:hover .transition{
    transform: scale(1.3);
    transition-duration: 0.5s;
   
}
.card-details h2{
    padding:5px 0px;
}
/* section three end */
#section_four{
  width:1260px;
  margin: auto;
 
}
.section_four_head{
    text-align: center;
    margin:15px 0px;
}
.section_four_head h1{
font-size: 42px;
 color: #131313;
 padding: 15px 0px;

}
.sponser-cardbar{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
    align-items: center;
    

}
.Sponspors_img img{
    padding:20px 0px;
    filter: grayscale(100%);
}


#contact_section{
    width:1260px;
    margin: 40px auto;
    padding:10px 15px;
    background:linear-gradient(#1c1a19bd,#191817b1),url(../images/1.jpg);
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.contact_us{
    display: flex;
    height: 350px;
     width:100%;
     align-items: center;
     color:#f0e8df;
     
}
.contact-head-bar{
    
    width:48%;
    
}
.contact-head-bar h1{
    font-size: 40px;
    padding:12px 0px;
    font-weight: 500;
    border-left: 3px solid #FF900E;
    padding-left: 10px;
}
.contact-head-bar p{
    letter-spacing: 0.5px;
}
.contact_details{
    width:48%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.contact_details .reflid{
    font-size: 40px;
    color:#FF900E;
    padding:10px;
} 
.contact_me h2{
    font-size: 30px;
    padding: 10px 0px;
    font-weight: 500;
}
.contact_me p{
    font-size: 16px;
}

/* main section end */

#footer{
    background-color:#f3daba;
    width:1270px;
   
    margin: auto;
}
.footer-title{
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#131313;
    font-weight: 700;
    
    
    
}

/* -----------
end
----------- */



/* midea query start */

@media only screen and (max-width: 480px) {
   #header-bar{
    width:100%;
   }  
   .header-fullbar,.navbar ul{
    flex-direction: column;
   } 
   .title-full-section{
    width:90%;
  
   }
  
  .header-head-title{
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    width:300px;
  }
 .header-title p{
    width:100%;
   
    font-size: small;
    text-align: left;
 }
 .header-title button{
  
   margin: auto;
    
 }
 .header-banner{
    width:98%;
    
 }
 .header-banner img{
    width:320px;
 }
 #footer{
    width: 100%;
 }
 .footer-title{
    width:300px;
    height: 100px;
    font-size: 16px;
    text-align: center;
     margin: auto;
 }
  #Our_Feature{
    width:100%;
    flex-direction: column-reverse;
    align-items: start;
    padding-left: 10px;
    
  }
  .feature-detail{
    width:330px;
  }
  .feature-img{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
  }
  .feature-head-title{
    width:300px;
    word-spacing: 0.2px;
    font-size: 35px;
  }
  
  #section_two{
    width:100%;
  }
  .section-two-fullbar{
    flex-direction: column;
  }
  .section-two-titlebar{
    width:100%;
    
  }
  .title_sub_two{
    width:100%;
    height: auto;
  }
  .title_sub_two p{
    width:100%;
  }
  .secondery-btn{
    margin: 0px;
    position: static;
    width:230px;
    height: 50px;
    font-size: 18px;
    margin: 10px auto;
  }
  .feature-body-bar > button{
       font-size: 18px;
       width:200px;
       margin-bottom: 10px;
  }
  .section-two_img{
    width:100%;
  }
  .section-two_img img{
    width:95%;
  }
  #my-success{
    width:100%;
  }
  .card-bar{
    flex-direction: column;
    row-gap: 15px;
  }
  #section_four{

    width:100%;
  }
  .sponser-cardbar{
    flex-direction: column;
  }
  .section_four_head{
    text-align: left;
  }
  .section_four_head p{
    width:300px;
  }
  #contact_section{
    width:100%;
    height: 620px;
  }
  .contact_us{
    flex-direction: column;
    align-items: flex-start;
    
}
.contact-head-bar p{
    width:90%;
}
.contact_details{
    width:95%;
    flex-direction: column;
    align-items: center;
    padding-bottom:10px;
  }
  .contact-head-bar{
    width:100%;
  }

  }
 


